.content-wrap {
    display: flex;
}

.ko-nav ul {
    padding: 0;
}

.header-title {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.header-title-block {
    width: 100px;
    height: 100px;
    float: left;
    background-color: #27749b;
    margin-right: 5px;
}

header {
    display: block;
    width: 100%;
    background-color: #214364;
    padding: 10px;
}

header .logo {
    float: right;
    cursor: pointer;
}

main {
    width: 100%;
    border-right: 1px solid black;
}

nav {
    max-width: 500px;
    min-width: 350px;
}

#content {
    flex-grow: 1;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

nav li {
    list-style: none;
    background-color: #27749b;
    /*transition: background-color .33s;*/
    border-bottom: 1px solid #27749b;
}

nav li:hover {
    background-color: #214364;
    border-bottom: 1px solid white;
}


nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    word-break: break-all;
    cursor: pointer;
}

.nav-search-title {
    color: white;
}

.nav-subcategory {
    cursor: pointer;
}

.nav-category,
.nav-search-title,
.nav-subcategory {
    display: block;
    font-size: 16px;
}

.sub-category {
    background-color: #214364;
    color: white;
    margin-top: 0.25em;
}

.sub-category span {
    padding: 10px;
    display: block;
}

.sub-category > div {
    padding: 10px;
}

.sub-category h2 {
    margin: 0;
    word-break: break-all;
}

.category {
    background-color: #f0f0f0;
    padding: 10px;
}

.nav-search {
    background-color: #f0f0f0;
    padding: 10px;
}

.nav-search-content {
    padding: 20px;
    background-color: #214364;
}

button {
    background-color: #27749b;
    border: none;
    padding: 10px;
    color: white;
    /*transition: border .33s;*/
    border-bottom: 1px solid #27749b;
    cursor: pointer;
}

button:hover {
    border-bottom: 1px solid white;
}

input[type="text"] {
    padding: 10px;
}

.nav-search-content input {
    width: 70%;
    height: 40px;
}

.nav-search-content button {
    width: 27%;
    height: 40px;
}

.nav-search ul {
    padding: 0;
}

/*

Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
}

.hljs-comment,
.hljs-quote {
    color: #800;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-title,
.hljs-name {
    color: #008;
}

.hljs-variable,
.hljs-template-variable {
    color: #660;
}

.hljs-string,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-regexp {
    color: #080;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-meta,
.hljs-number,
.hljs-link {
    color: #066;
}

.hljs-title,
.hljs-doctag,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
    color: #606;
}

.hljs-attribute,
.hljs-subst {
    color: #000;
}

.hljs-formula {
    background-color: #eee;
    font-style: italic;
}

.hljs-selector-id,
.hljs-selector-class {
    color: #9B703F
}

.hljs-addition {
    background-color: #baeeba;
}

.hljs-deletion {
    background-color: #ffc8bd;
}

.hljs-doctag,
.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

#loading {
    margin: 80px auto;
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #ccc;
    font: 12px "Lucida Grande", Sans-Serif;
    text-align: center;
    line-height: 100px;
    color: white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

#loading:before {
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    bottom: -20px;
    right: -20px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    background: #eee;
    z-index: -2;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#loading span {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgba(255, 255, 255, 0.7);
    z-index: -1;
    top: -28px;
    left: 0px;
    -webkit-animation: ticktock 5s linear infinite;
    -webkit-transform-origin: 50px 80px;
}

#loading strong {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    -webkit-animation: expand 2.5s linear infinite;
}

@-webkit-keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 60px;
    }
}

@-webkit-keyframes ticktock {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
