<div class="field has-addons">
    <p class="control">
        <button class="button" data-bind="css: {'is-active is-success': activeTheme() === 'light', 'is-light': true}, click: activeTheme.bind(null, 'light')">
            <span>Light</span>
        </button>
    </p>
    <p class="control">
        <button class="button" data-bind="css: {'is-active is-success': activeTheme() === 'dark', 'is-dark': true}, click: activeTheme.bind(null, 'dark')">
            <span>Dark</span>
        </button>
    </p>
</div>
