<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>MD-Wiki</title>
    <meta name="description" content="Wiki">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preload" href="/bundle{{ assetUID }}.js" as="script">
    <link rel="preload" href="/highlight.js" as="script">
    <link rel="preload" href="/mousetrap.js" as="script">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" as="script">

    <script defer src="/bundle{{ assetUID }}.js"></script>
    <noscript>
        <link rel="stylesheet" href="/style{{ assetUID }}.css">
    </noscript>
    <style type="text/css">
        {% include '../../dist/critical.min.css' ignore missing %}
    </style>

    {% include '../component/templates.twig' %}
</head>

<body>
<header class="navbar is-primary" role="navigation" aria-label="main navigation">
    {% include '../component/header/header-template.twig' %}
</header>
<div class="content-wrap container columns">
    <nav class="column column-left is-one-quarter-desktop is-one-third-tablet">
        <file-search data-bind="visible: true" style="display:none;">
            {% include '../component/file-search/file-search-template.html' %}
        </file-search>

        <nav-menu>
            {% include '../component/nav-menu/nav-menu-template-basic.twig' with {navigationData: navigationData} only %}
        </nav-menu>
    </nav>
    <main class="column">
        <loading-indicator></loading-indicator>
        <article id="content">
            <div class="content">
                {% block mainContent %}
                {% endblock mainContent %}
            </div>
        </article>
    </main>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>MD-Wiki</strong>.</p>
    </div>
</footer>
<search-popup>
    {% include '../component/search-popup/search-popup.html' %}
</search-popup>

<script>
    (function (document) {
        var styleElement = document.createElement('link');
        styleElement.src = '/style{{ assetUID }}.css';
        styleElement.rel = 'stylesheet';
        document.head.appendChild(styleElement);
    })(window.document)
</script>
</body>
</html>
